<html>
  <head>
    <style>
      .container { height: 100%; width: 100%; align: center; text-align: center;
      } .line { padding: 20px 10px; }
    </style>
  </head>
  <body>
    <main class='container'>
      <h1>Notificação - SafeAlert</h1>
      <div>
        <span>Incidente: {{name}}</span>
      </div>
      <div>
        <span>Local: {{region}}</span>
      </div>
      <div>
        <span>Escala de Risco: {{risk_scale}}</span>
      </div>
    </main>
  </body>
</html>