<html>
<head>
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333333;
}

.line {
  padding: 10px;
  border-bottom: 1px solid #cccccc;
  text-align: left;
}

span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555555;
}
  </style>
</head>
<body>
  <main class='container'>
    <h1>Notícia - SafeAlert</h1>
    <div class="line">
      <span>Título: {{title}}</span>
    </div>
    <div class="line">
      <span>Categoria: {{category}}</span>
    </div>
    <div class="line">
      <span>Descrição: {{description}}</span>
    </div>
  </main>
</body>
</html>
